.charts-config-form {
    display: flex;
    flex-direction: column;;
}

.charts-config-form__title {
    flex: auto;
}

.charts-config-form__fields {
    display: flex;
    justify-content: space-evenly;
}

.charts-config-form__actions {
    flex: auto;
}

.charts-area {
    display: flex;
}