<div class="charts-config-form">
    {{ form.form_build_id }}
    {{ form.form_token }}
    {{ form.form_id }}
  <div class="charts-config-form__title">
    {{ form.description }}
  </div>
  <div class='charts-config-form__fields'>
    {{ form.edades_year }}
    {{ form.fp_year }}
  </div>
  <div class='charts-config-form__actions'>
    {{ form.actions}}
  </div>
</div>

<div class='charts-area'>
  {{ drupal_block('edades_block') }}
  {{ drupal_block('familias_profesionales_block') }}
</div>